@model IEnumerable<Project_FurnitureStore.Models.GioHangViewModel>
@{
	ViewData["Title"] = "PersonalCart";
	Layout = "~/Views/Cart/Index.cshtml";
	decimal tongTien = 0;
}

<div class="">
	<div class="center w-full max-h-[1000px] ">


		<div class="list">

			@{
				foreach (var item in Model)
				{
					decimal thanhTien = item.DonGia * item.SoLuong;
					tongTien += thanhTien; //
					<div class="item" data-key="4">
						<div class="img">
							<img src="~/Images/@item.SanPham.HinhAnh" alt="">
						</div>
						<div class="content">
							<div class="title">@item.SanPham.TenSP</div>
							<div class="price">@item.DonGia.ToString("C0")</div>
							<div class="size flex items-center">
								<label for="title" class="ml-2 text-sm ">Màu: </label>
								<div  class="total  w-[20px] h-[20px]  -translate-y-1 text-sm" >@item.MauSac</div>
								
							</div>
							<div   class="size flex items-center">
								<label for="title" class="ml-2 text-sm">Size: </label>
								<div class="total    -translate-y-1 text-sm">@item.KichThuoc</div>
							</div>
							<div class="size flex items-center">
								<label for="title" class="ml-2 text-sm">Thành Tiền: </label>
								<div class="total  w-20  -translate-y-1 text-sm">@thanhTien.ToString("C0")</div>
							</div>
							<input type="number" class="count" min="1" value="@item.SoLuong">
							<button class="add">Add to cart</button>
							<button class="remove" onclick="Remove(4)"><i class="fa-solid fa-trash-can"></i></button>
						</div>
					</div>
				}
			}





		</div>

	</div>


	<div class="cart ">
		<div class=" overflow-y-auto listCart translate-y-9 max-h-[400]">
			<div class="total-amount">Tổng tiền: @tongTien.ToString("C")</div>
		</div>

	</div>
</div>


