@model IEnumerable<Project_FurnitureStore.Models.KhuyenMaiViewModel>
@{
	ViewData["Title"] = "AddProductVoucher";
	Layout = "~/Views/Admin/Index.cshtml";
	var sanPhamList = TempData["KhuyenMaiProductlist"] as List<SanPhamViewModel>;
	var sanphamNoKM = TempData["KhuyenMaiNoProductlist"] as List<SanPhamViewModel>;
	var phantram = 0;
	@foreach (var item in Model)
	{
		phantram = int.Parse(@item.TienGiam);
	}
}


<h3 class="ml-[42px]">Chi tiết khuyến mãi</h3>
<div>
	@{
		@foreach (var item in Model)
		{

			<div class="flex">
				<img class="w-[150px] h-[200PX] ml-[42px] rounded-lg" src="~/Images/GheElisa.jpeg">
				<div id="idKhuyenmai" style="display:none">@item._id</div>
				<div class="ml-[20px]">
					<div>
						<div>Khuyến mãi: @item.TenKhuyenMai</div>
						<div>Date: @item.NgayKhuyenMai - @item.NgayKetThuc</div>
						<div>Chi tiết: @item.TenKhuyenMai</div>
						<div>Giảm: @item.TienGiam %</div>
					</div>
				</div>
			</div>
		}


	}
</div>
<h3 class="ml-[42px]">Các sản phẩm tương ứng</h3>

<div class="px-3 flex grid grid-cols-4 gap-[10px]">
	@{
		foreach (var item in sanPhamList)
		{

			<a href="@Url.Action("DetailProduct","Product", new{ @idProduct=item.id})">
				<div class="bg-white border-2 border-black h-[305px] w-[230px] rounded-lg p-[5px]">
					<img class="w-full h-[200PX]    rounded-lg" src="./Images/GheElisa.jpeg">
					
					<div class="font-Raleway text-[15px] px-4 flex items-center">
						@if (item.TenSP.Length > 22)
						{
							@item.TenSP.Substring(0, 22)
						}
						else
						{
							@item.TenSP
						}
						<input class="ml-auto product-checkbox h-[17px] w-[17px] mt-[3px]" type="checkbox" value="@item.id" />
					</div>
					<div class="flex">
						@{
							var giaSauGiam = Convert.ToDecimal(item.DonGia) - phantram;
							<div class=" font-bold red-text translate-x-6 ">    @string.Format("{0:C0}", giaSauGiam)  </div>
						}
						<div class="mt-[5px] font-bold black-text translate-x-6 line-through text-[10px] ">@item.DonGia.ToString("C0")</div>


					</div>

					
					<button class="buy-button text-center  h-[30px]   px-5 w-full">See More</button>
				</div>
			</a>

		}
	}
</div>




<div class="flex">
    <a class="ml-auto" id="sendUrlldelete" onclick="xuLyClickdelete()">
		 <div class="mt-[5px] flex items-center justify-center h-[30px] w-[70px] rounded-full bg-rose-600 ml-[10px] font-medium delete-button">Delete</div>
		</a>

	
  
</div>

<script>
	function xuLyClickdelete() {
      
        var checkedCheckboxes = document.querySelectorAll(".product-checkbox:checked");
        var selectedIds = Array.from(checkedCheckboxes).map(function (checkbox) {
            return checkbox.value;
        });
        var idkhuyenmai = document.getElementById('idKhuyenmai').innerText;
        var linkk3 = document.getElementById("sendUrlldelete");
        var url = `/Admin/EXDeleteProductVoucher?idKhuyenMai=${idkhuyenmai}&idSPs=${JSON.stringify(selectedIds)}`;

        linkk3.setAttribute('href', url);
    }


    function xuLyClick() {
      
        var checkedCheckboxes1 = document.querySelectorAll(".noproduct-checkbox:checked");
        var selectedIds1 = Array.from(checkedCheckboxes1).map(function (checkbox) {
            return checkbox.value;
        });
        var idkhuyenmai1 = document.getElementById('idKhuyenmai').innerText;
        var linkk31 = document.getElementById("sendUrll");
        var url1 = `/Admin/EXAddProductVoucher?idKhuyenMai=${idkhuyenmai1}&idSPs=${JSON.stringify(selectedIds1)}`;

        linkk31.setAttribute('href', url1);
    }
</script>

<hr />
<div class="flex mx-[42px]">
	<h3 class="">Các sản phẩm khác</h3>
	  <a class="ml-auto" id="sendUrll" onclick="xuLyClick()">
        <div class="flex items-center justify-center h-[40px] w-[40px] rounded-full bg-cyan-600 text-lg font-medium ">+</div>
    </a>
</div>


<div class="px-3 flex grid grid-cols-4 gap-x-2 gap-[10px]">
	@{
		foreach (var item in sanphamNoKM)
		{

			<a href="@Url.Action("DetailProduct","Product", new{ @idProduct=item.id})">
				<div class="bg-white border-2 border-black h-[300px] w-[220px] rounded-lg p-[5px]">
					<img class="w-full h-[200PX]    rounded-lg" src="./Images/GheElisa.jpeg">

					<div class="font-Raleway text-[15px] px-4 flex items-center">
						@if (item.TenSP.Length > 18)
						{
							@item.TenSP.Substring(0, 18)
							
						}
						else
						{
							@item.TenSP
						}
						<input class="ml-auto noproduct-checkbox h-[17px] w-[17px] mt-[3px]" type="checkbox" value="@item.id" />
					</div>
					<div class="flex  ">
						<div class="mt-[5px] font-bold black-text translate-x-6 line-through text-[10px] ">@item.DonGia.ToString("C0")</div>
						
					</div>


					<button class="buy-button text-center  h-[30px]   px-5 w-full">See More</button>
				</div>
			</a>

		}
	}
</div>